@page
@model PomagajLocaly.Pages.Company.Company

@{
    ViewData["Title"] = "Company Panel";
}

<h1>@ViewData["Title"]</h1>
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link " asp-area="" asp-page="/Company/CreateOffer">Create offer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " asp-area="" asp-page="/Company/DeleteOffer">Delete offer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " asp-area="" asp-page="/Company/Account">Manage Account</a>
    </li>
</ul>