@using Microsoft.AspNetCore.Identity
@using PomagajLocaly.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Admin">Admin Panel</a>
            </li>
        }
        @if (User.IsInRole("Company"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Company/Company">Company Panel</a>
            </li>
        }
        @if (User.IsInRole("Client"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Client/Client">Client Panel</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
      
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
